.form-control {
    position: relative;
    border: 2px solid black;
    border-radius: 4px;
    padding: 12px 20px;
    right: 0px;
    width: 350px;
    margin-top: 0px;
}

body {
    background-color: white;
    border-color: black;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 900;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.dataInfo {
    font-size: 15px;
}

.col-sm {
    position: relative;
    right: 0px;
}

h4 {
    text-align: center;
    padding: 20px;
    text-shadow: 10px;
    font-weight: bolder;
}

h3 {
    text-align: left;
    padding: 0px 38px 0px;
}

.snow {
    padding: 0px 33px;
    font-size: 28px;

}

.box {
    margin: 5px auto;
    max-width: 800px;
    padding: 50px 100px;
    background-position: center;
    background: border-box beige;
    border: 2px solid black;

}

.emoji {
    padding: 10px 23px;
    font-size: 28px;
    color: #9999ff;
}

a {
    text-align: left;
}
li {
    text-transform: capitalize;
    margin: auto;
    padding: auto;
}
.precipitation {
    text-align: left;
    width: 600px;
}

.weather-temperature .active {
    color: black;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}