.form-control {
    position: relative;
    border: 1px solid black;
    border-radius: 2px;
    padding: 10px 16px;
    right: 10px;
    width: 370px;
    margin-top: 15px;
}

body {
    background-color: white;
    border-color: black;
    font-family: 'Roboto', sans-serif;
    border-radius: 2px;
}

h1 {
    font-weight: 900;
    text-align: left;
    padding: 0px;
    margin: 0px;
}

.dataInfo {
    font-size: 15px;
}

.col-sm {
    position: relative;
    right: 0px;
}

h4 {
    text-align: center;
    padding: 20px;
    text-shadow: 10px;
    font-weight: bolder;
}

h3 {
    text-align: left;
    padding: 0px 38px 0px;
}

.snow {
    padding: 0px 33px;
    font-size: 28px;

}

.box {
    margin: 20px auto;
    max-width: 900px;
    padding: 50px 100px;
    background-position: center;
    background: border-box white;
    border: 1px solid black;
    border-radius: 12px;

}

.emoji {
    padding: 10px 23px;
    font-size: 28px;
    color: #9999ff;
}

a {
    text-align: left;
}
li {
    text-transform: capitalize;
    margin: auto;
    padding: auto;
}
.precipitation {
    text-align: left;
    width: 600px;
}

.weather-temperature .active {
    color: black;
    cursor: default;
}

.weather-temperature .active:hover {
    text-decoration: none;
}
.wind-right{
margin-left: 450px
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}
.weather-forecast-temp-min {
    opacity: 0.5;
}
.weather-forecast-temperature {
    font-size: 14px;
}
